/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-amazon-name: 'icon-amazon';
$icon-amazon-x: 0px;
$icon-amazon-y: 64px;
$icon-amazon-offset-x: 0px;
$icon-amazon-offset-y: -64px;
$icon-amazon-width: 48px;
$icon-amazon-height: 48px;
$icon-amazon-total-width: 240px;
$icon-amazon-total-height: 5571px;
$icon-amazon-image: '../images/generated/sprites/sprite.png';
$icon-amazon: (0px, 64px, 0px, -64px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-amazon', );
$icon-apple-app-store-name: 'icon-apple-app-store';
$icon-apple-app-store-x: 0px;
$icon-apple-app-store-y: 2784px;
$icon-apple-app-store-offset-x: 0px;
$icon-apple-app-store-offset-y: -2784px;
$icon-apple-app-store-width: 48px;
$icon-apple-app-store-height: 48px;
$icon-apple-app-store-total-width: 240px;
$icon-apple-app-store-total-height: 5571px;
$icon-apple-app-store-image: '../images/generated/sprites/sprite.png';
$icon-apple-app-store: (0px, 2784px, 0px, -2784px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-apple-app-store', );
$icon-bebo-name: 'icon-bebo';
$icon-bebo-x: 0px;
$icon-bebo-y: 132px;
$icon-bebo-offset-x: 0px;
$icon-bebo-offset-y: -132px;
$icon-bebo-width: 48px;
$icon-bebo-height: 48px;
$icon-bebo-total-width: 240px;
$icon-bebo-total-height: 5571px;
$icon-bebo-image: '../images/generated/sprites/sprite.png';
$icon-bebo: (0px, 132px, 0px, -132px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-bebo', );
$icon-behance-name: 'icon-behance';
$icon-behance-x: 0px;
$icon-behance-y: 200px;
$icon-behance-offset-x: 0px;
$icon-behance-offset-y: -200px;
$icon-behance-width: 48px;
$icon-behance-height: 48px;
$icon-behance-total-width: 240px;
$icon-behance-total-height: 5571px;
$icon-behance-image: '../images/generated/sprites/sprite.png';
$icon-behance: (0px, 200px, 0px, -200px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-behance', );
$icon-bing-name: 'icon-bing';
$icon-bing-x: 0px;
$icon-bing-y: 268px;
$icon-bing-offset-x: 0px;
$icon-bing-offset-y: -268px;
$icon-bing-width: 48px;
$icon-bing-height: 48px;
$icon-bing-total-width: 240px;
$icon-bing-total-height: 5571px;
$icon-bing-image: '../images/generated/sprites/sprite.png';
$icon-bing: (0px, 268px, 0px, -268px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-bing', );
$icon-bitbucket-name: 'icon-bitbucket';
$icon-bitbucket-x: 0px;
$icon-bitbucket-y: 336px;
$icon-bitbucket-offset-x: 0px;
$icon-bitbucket-offset-y: -336px;
$icon-bitbucket-width: 48px;
$icon-bitbucket-height: 48px;
$icon-bitbucket-total-width: 240px;
$icon-bitbucket-total-height: 5571px;
$icon-bitbucket-image: '../images/generated/sprites/sprite.png';
$icon-bitbucket: (0px, 336px, 0px, -336px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-bitbucket', );
$icon-bmw-name: 'icon-bmw';
$icon-bmw-x: 0px;
$icon-bmw-y: 404px;
$icon-bmw-offset-x: 0px;
$icon-bmw-offset-y: -404px;
$icon-bmw-width: 48px;
$icon-bmw-height: 48px;
$icon-bmw-total-width: 240px;
$icon-bmw-total-height: 5571px;
$icon-bmw-image: '../images/generated/sprites/sprite.png';
$icon-bmw: (0px, 404px, 0px, -404px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-bmw', );
$icon-breaking-bad-name: 'icon-breaking-bad';
$icon-breaking-bad-x: 0px;
$icon-breaking-bad-y: 472px;
$icon-breaking-bad-offset-x: 0px;
$icon-breaking-bad-offset-y: -472px;
$icon-breaking-bad-width: 48px;
$icon-breaking-bad-height: 48px;
$icon-breaking-bad-total-width: 240px;
$icon-breaking-bad-total-height: 5571px;
$icon-breaking-bad-image: '../images/generated/sprites/sprite.png';
$icon-breaking-bad: (0px, 472px, 0px, -472px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-breaking-bad', );
$icon-chrome-name: 'icon-chrome';
$icon-chrome-x: 0px;
$icon-chrome-y: 540px;
$icon-chrome-offset-x: 0px;
$icon-chrome-offset-y: -540px;
$icon-chrome-width: 48px;
$icon-chrome-height: 48px;
$icon-chrome-total-width: 240px;
$icon-chrome-total-height: 5571px;
$icon-chrome-image: '../images/generated/sprites/sprite.png';
$icon-chrome: (0px, 540px, 0px, -540px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-chrome', );
$icon-cloud-flare-name: 'icon-cloudFlare';
$icon-cloud-flare-x: 0px;
$icon-cloud-flare-y: 608px;
$icon-cloud-flare-offset-x: 0px;
$icon-cloud-flare-offset-y: -608px;
$icon-cloud-flare-width: 48px;
$icon-cloud-flare-height: 48px;
$icon-cloud-flare-total-width: 240px;
$icon-cloud-flare-total-height: 5571px;
$icon-cloud-flare-image: '../images/generated/sprites/sprite.png';
$icon-cloud-flare: (0px, 608px, 0px, -608px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-cloudFlare', );
$icon-codepen-name: 'icon-codepen';
$icon-codepen-x: 0px;
$icon-codepen-y: 676px;
$icon-codepen-offset-x: 0px;
$icon-codepen-offset-y: -676px;
$icon-codepen-width: 48px;
$icon-codepen-height: 48px;
$icon-codepen-total-width: 240px;
$icon-codepen-total-height: 5571px;
$icon-codepen-image: '../images/generated/sprites/sprite.png';
$icon-codepen: (0px, 676px, 0px, -676px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-codepen', );
$icon-css3-name: 'icon-css3';
$icon-css3-x: 0px;
$icon-css3-y: 744px;
$icon-css3-offset-x: 0px;
$icon-css3-offset-y: -744px;
$icon-css3-width: 48px;
$icon-css3-height: 48px;
$icon-css3-total-width: 240px;
$icon-css3-total-height: 5571px;
$icon-css3-image: '../images/generated/sprites/sprite.png';
$icon-css3: (0px, 744px, 0px, -744px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-css3', );
$icon-delicious-name: 'icon-delicious';
$icon-delicious-x: 0px;
$icon-delicious-y: 812px;
$icon-delicious-offset-x: 0px;
$icon-delicious-offset-y: -812px;
$icon-delicious-width: 48px;
$icon-delicious-height: 48px;
$icon-delicious-total-width: 240px;
$icon-delicious-total-height: 5571px;
$icon-delicious-image: '../images/generated/sprites/sprite.png';
$icon-delicious: (0px, 812px, 0px, -812px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-delicious', );
$icon-docker-name: 'icon-docker';
$icon-docker-x: 0px;
$icon-docker-y: 880px;
$icon-docker-offset-x: 0px;
$icon-docker-offset-y: -880px;
$icon-docker-width: 48px;
$icon-docker-height: 48px;
$icon-docker-total-width: 240px;
$icon-docker-total-height: 5571px;
$icon-docker-image: '../images/generated/sprites/sprite.png';
$icon-docker: (0px, 880px, 0px, -880px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-docker', );
$icon-dropbox-name: 'icon-dropbox';
$icon-dropbox-x: 0px;
$icon-dropbox-y: 948px;
$icon-dropbox-offset-x: 0px;
$icon-dropbox-offset-y: -948px;
$icon-dropbox-width: 48px;
$icon-dropbox-height: 48px;
$icon-dropbox-total-width: 240px;
$icon-dropbox-total-height: 5571px;
$icon-dropbox-image: '../images/generated/sprites/sprite.png';
$icon-dropbox: (0px, 948px, 0px, -948px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-dropbox', );
$icon-facebook-messenger-name: 'icon-facebook-messenger';
$icon-facebook-messenger-x: 0px;
$icon-facebook-messenger-y: 1016px;
$icon-facebook-messenger-offset-x: 0px;
$icon-facebook-messenger-offset-y: -1016px;
$icon-facebook-messenger-width: 48px;
$icon-facebook-messenger-height: 48px;
$icon-facebook-messenger-total-width: 240px;
$icon-facebook-messenger-total-height: 5571px;
$icon-facebook-messenger-image: '../images/generated/sprites/sprite.png';
$icon-facebook-messenger: (0px, 1016px, 0px, -1016px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-facebook-messenger', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 0px;
$icon-facebook-y: 1084px;
$icon-facebook-offset-x: 0px;
$icon-facebook-offset-y: -1084px;
$icon-facebook-width: 48px;
$icon-facebook-height: 48px;
$icon-facebook-total-width: 240px;
$icon-facebook-total-height: 5571px;
$icon-facebook-image: '../images/generated/sprites/sprite.png';
$icon-facebook: (0px, 1084px, 0px, -1084px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-facebook', );
$icon-feedly-name: 'icon-feedly';
$icon-feedly-x: 0px;
$icon-feedly-y: 1152px;
$icon-feedly-offset-x: 0px;
$icon-feedly-offset-y: -1152px;
$icon-feedly-width: 48px;
$icon-feedly-height: 48px;
$icon-feedly-total-width: 240px;
$icon-feedly-total-height: 5571px;
$icon-feedly-image: '../images/generated/sprites/sprite.png';
$icon-feedly: (0px, 1152px, 0px, -1152px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-feedly', );
$icon-firefox-name: 'icon-firefox';
$icon-firefox-x: 0px;
$icon-firefox-y: 1220px;
$icon-firefox-offset-x: 0px;
$icon-firefox-offset-y: -1220px;
$icon-firefox-width: 48px;
$icon-firefox-height: 48px;
$icon-firefox-total-width: 240px;
$icon-firefox-total-height: 5571px;
$icon-firefox-image: '../images/generated/sprites/sprite.png';
$icon-firefox: (0px, 1220px, 0px, -1220px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-firefox', );
$icon-foursquare-name: 'icon-foursquare';
$icon-foursquare-x: 0px;
$icon-foursquare-y: 1288px;
$icon-foursquare-offset-x: 0px;
$icon-foursquare-offset-y: -1288px;
$icon-foursquare-width: 48px;
$icon-foursquare-height: 48px;
$icon-foursquare-total-width: 240px;
$icon-foursquare-total-height: 5571px;
$icon-foursquare-image: '../images/generated/sprites/sprite.png';
$icon-foursquare: (0px, 1288px, 0px, -1288px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-foursquare', );
$icon-get-pocket-name: 'icon-get-pocket';
$icon-get-pocket-x: 0px;
$icon-get-pocket-y: 1356px;
$icon-get-pocket-offset-x: 0px;
$icon-get-pocket-offset-y: -1356px;
$icon-get-pocket-width: 48px;
$icon-get-pocket-height: 48px;
$icon-get-pocket-total-width: 240px;
$icon-get-pocket-total-height: 5571px;
$icon-get-pocket-image: '../images/generated/sprites/sprite.png';
$icon-get-pocket: (0px, 1356px, 0px, -1356px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-get-pocket', );
$icon-git-name: 'icon-git';
$icon-git-x: 0px;
$icon-git-y: 1424px;
$icon-git-offset-x: 0px;
$icon-git-offset-y: -1424px;
$icon-git-width: 48px;
$icon-git-height: 48px;
$icon-git-total-width: 240px;
$icon-git-total-height: 5571px;
$icon-git-image: '../images/generated/sprites/sprite.png';
$icon-git: (0px, 1424px, 0px, -1424px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-git', );
$icon-github-name: 'icon-github';
$icon-github-x: 0px;
$icon-github-y: 1492px;
$icon-github-offset-x: 0px;
$icon-github-offset-y: -1492px;
$icon-github-width: 48px;
$icon-github-height: 48px;
$icon-github-total-width: 240px;
$icon-github-total-height: 5571px;
$icon-github-image: '../images/generated/sprites/sprite.png';
$icon-github: (0px, 1492px, 0px, -1492px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-github', );
$icon-google-cloud-name: 'icon-google-cloud';
$icon-google-cloud-x: 0px;
$icon-google-cloud-y: 1560px;
$icon-google-cloud-offset-x: 0px;
$icon-google-cloud-offset-y: -1560px;
$icon-google-cloud-width: 48px;
$icon-google-cloud-height: 48px;
$icon-google-cloud-total-width: 240px;
$icon-google-cloud-total-height: 5571px;
$icon-google-cloud-image: '../images/generated/sprites/sprite.png';
$icon-google-cloud: (0px, 1560px, 0px, -1560px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-google-cloud', );
$icon-google-compute-engine-name: 'icon-google-compute-engine';
$icon-google-compute-engine-x: 0px;
$icon-google-compute-engine-y: 1628px;
$icon-google-compute-engine-offset-x: 0px;
$icon-google-compute-engine-offset-y: -1628px;
$icon-google-compute-engine-width: 48px;
$icon-google-compute-engine-height: 48px;
$icon-google-compute-engine-total-width: 240px;
$icon-google-compute-engine-total-height: 5571px;
$icon-google-compute-engine-image: '../images/generated/sprites/sprite.png';
$icon-google-compute-engine: (0px, 1628px, 0px, -1628px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-google-compute-engine', );
$icon-google-drive-name: 'icon-google-drive';
$icon-google-drive-x: 0px;
$icon-google-drive-y: 1696px;
$icon-google-drive-offset-x: 0px;
$icon-google-drive-offset-y: -1696px;
$icon-google-drive-width: 48px;
$icon-google-drive-height: 48px;
$icon-google-drive-total-width: 240px;
$icon-google-drive-total-height: 5571px;
$icon-google-drive-image: '../images/generated/sprites/sprite.png';
$icon-google-drive: (0px, 1696px, 0px, -1696px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-google-drive', );
$icon-google-plus-name: 'icon-google-plus';
$icon-google-plus-x: 0px;
$icon-google-plus-y: 1764px;
$icon-google-plus-offset-x: 0px;
$icon-google-plus-offset-y: -1764px;
$icon-google-plus-width: 48px;
$icon-google-plus-height: 48px;
$icon-google-plus-total-width: 240px;
$icon-google-plus-total-height: 5571px;
$icon-google-plus-image: '../images/generated/sprites/sprite.png';
$icon-google-plus: (0px, 1764px, 0px, -1764px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-google-plus', );
$icon-google-scholar-name: 'icon-google-scholar';
$icon-google-scholar-x: 0px;
$icon-google-scholar-y: 1832px;
$icon-google-scholar-offset-x: 0px;
$icon-google-scholar-offset-y: -1832px;
$icon-google-scholar-width: 48px;
$icon-google-scholar-height: 48px;
$icon-google-scholar-total-width: 240px;
$icon-google-scholar-total-height: 5571px;
$icon-google-scholar-image: '../images/generated/sprites/sprite.png';
$icon-google-scholar: (0px, 1832px, 0px, -1832px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-google-scholar', );
$icon-google-translate-name: 'icon-google-translate';
$icon-google-translate-x: 0px;
$icon-google-translate-y: 1900px;
$icon-google-translate-offset-x: 0px;
$icon-google-translate-offset-y: -1900px;
$icon-google-translate-width: 48px;
$icon-google-translate-height: 48px;
$icon-google-translate-total-width: 240px;
$icon-google-translate-total-height: 5571px;
$icon-google-translate-image: '../images/generated/sprites/sprite.png';
$icon-google-translate: (0px, 1900px, 0px, -1900px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-google-translate', );
$icon-google-web-search-name: 'icon-google-web-search';
$icon-google-web-search-x: 0px;
$icon-google-web-search-y: 1968px;
$icon-google-web-search-offset-x: 0px;
$icon-google-web-search-offset-y: -1968px;
$icon-google-web-search-width: 48px;
$icon-google-web-search-height: 48px;
$icon-google-web-search-total-width: 240px;
$icon-google-web-search-total-height: 5571px;
$icon-google-web-search-image: '../images/generated/sprites/sprite.png';
$icon-google-web-search: (0px, 1968px, 0px, -1968px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-google-web-search', );
$icon-hbo-go-name: 'icon-hbo-go';
$icon-hbo-go-x: 0px;
$icon-hbo-go-y: 2036px;
$icon-hbo-go-offset-x: 0px;
$icon-hbo-go-offset-y: -2036px;
$icon-hbo-go-width: 48px;
$icon-hbo-go-height: 48px;
$icon-hbo-go-total-width: 240px;
$icon-hbo-go-total-height: 5571px;
$icon-hbo-go-image: '../images/generated/sprites/sprite.png';
$icon-hbo-go: (0px, 2036px, 0px, -2036px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-hbo-go', );
$icon-html5-name: 'icon-html5';
$icon-html5-x: 0px;
$icon-html5-y: 2104px;
$icon-html5-offset-x: 0px;
$icon-html5-offset-y: -2104px;
$icon-html5-width: 48px;
$icon-html5-height: 48px;
$icon-html5-total-width: 240px;
$icon-html5-total-height: 5571px;
$icon-html5-image: '../images/generated/sprites/sprite.png';
$icon-html5: (0px, 2104px, 0px, -2104px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-html5', );
$icon-hulu-name: 'icon-hulu';
$icon-hulu-x: 0px;
$icon-hulu-y: 2172px;
$icon-hulu-offset-x: 0px;
$icon-hulu-offset-y: -2172px;
$icon-hulu-width: 48px;
$icon-hulu-height: 48px;
$icon-hulu-total-width: 240px;
$icon-hulu-total-height: 5571px;
$icon-hulu-image: '../images/generated/sprites/sprite.png';
$icon-hulu: (0px, 2172px, 0px, -2172px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-hulu', );
$icon-instagram-name: 'icon-instagram';
$icon-instagram-x: 0px;
$icon-instagram-y: 2240px;
$icon-instagram-offset-x: 0px;
$icon-instagram-offset-y: -2240px;
$icon-instagram-width: 48px;
$icon-instagram-height: 48px;
$icon-instagram-total-width: 240px;
$icon-instagram-total-height: 5571px;
$icon-instagram-image: '../images/generated/sprites/sprite.png';
$icon-instagram: (0px, 2240px, 0px, -2240px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-instagram', );
$icon-internet-explorer-name: 'icon-internet-explorer';
$icon-internet-explorer-x: 0px;
$icon-internet-explorer-y: 2308px;
$icon-internet-explorer-offset-x: 0px;
$icon-internet-explorer-offset-y: -2308px;
$icon-internet-explorer-width: 48px;
$icon-internet-explorer-height: 48px;
$icon-internet-explorer-total-width: 240px;
$icon-internet-explorer-total-height: 5571px;
$icon-internet-explorer-image: '../images/generated/sprites/sprite.png';
$icon-internet-explorer: (0px, 2308px, 0px, -2308px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-internet-explorer', );
$icon-java-name: 'icon-java';
$icon-java-x: 0px;
$icon-java-y: 2376px;
$icon-java-offset-x: 0px;
$icon-java-offset-y: -2376px;
$icon-java-width: 48px;
$icon-java-height: 48px;
$icon-java-total-width: 240px;
$icon-java-total-height: 5571px;
$icon-java-image: '../images/generated/sprites/sprite.png';
$icon-java: (0px, 2376px, 0px, -2376px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-java', );
$icon-jsfiddle-name: 'icon-jsfiddle';
$icon-jsfiddle-x: 0px;
$icon-jsfiddle-y: 2444px;
$icon-jsfiddle-offset-x: 0px;
$icon-jsfiddle-offset-y: -2444px;
$icon-jsfiddle-width: 48px;
$icon-jsfiddle-height: 48px;
$icon-jsfiddle-total-width: 240px;
$icon-jsfiddle-total-height: 5571px;
$icon-jsfiddle-image: '../images/generated/sprites/sprite.png';
$icon-jsfiddle: (0px, 2444px, 0px, -2444px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-jsfiddle', );
$icon-lastfm-name: 'icon-lastfm';
$icon-lastfm-x: 0px;
$icon-lastfm-y: 2512px;
$icon-lastfm-offset-x: 0px;
$icon-lastfm-offset-y: -2512px;
$icon-lastfm-width: 48px;
$icon-lastfm-height: 48px;
$icon-lastfm-total-width: 240px;
$icon-lastfm-total-height: 5571px;
$icon-lastfm-image: '../images/generated/sprites/sprite.png';
$icon-lastfm: (0px, 2512px, 0px, -2512px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-lastfm', );
$icon-linked-in-name: 'icon-linkedIn';
$icon-linked-in-x: 0px;
$icon-linked-in-y: 2580px;
$icon-linked-in-offset-x: 0px;
$icon-linked-in-offset-y: -2580px;
$icon-linked-in-width: 48px;
$icon-linked-in-height: 48px;
$icon-linked-in-total-width: 240px;
$icon-linked-in-total-height: 5571px;
$icon-linked-in-image: '../images/generated/sprites/sprite.png';
$icon-linked-in: (0px, 2580px, 0px, -2580px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-linkedIn', );
$icon-linode-name: 'icon-linode';
$icon-linode-x: 0px;
$icon-linode-y: 2648px;
$icon-linode-offset-x: 0px;
$icon-linode-offset-y: -2648px;
$icon-linode-width: 48px;
$icon-linode-height: 48px;
$icon-linode-total-width: 240px;
$icon-linode-total-height: 5571px;
$icon-linode-image: '../images/generated/sprites/sprite.png';
$icon-linode: (0px, 2648px, 0px, -2648px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-linode', );
$icon-compass-full-name: 'icon-compass-full';
$icon-compass-full-x: 0px;
$icon-compass-full-y: 0px;
$icon-compass-full-offset-x: 0px;
$icon-compass-full-offset-y: 0px;
$icon-compass-full-width: 240px;
$icon-compass-full-height: 44px;
$icon-compass-full-total-width: 240px;
$icon-compass-full-total-height: 5571px;
$icon-compass-full-image: '../images/generated/sprites/sprite.png';
$icon-compass-full: (0px, 0px, 0px, 0px, 240px, 44px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-compass-full', );
$icon-compass-only-2-name: 'icon-compass-only-2';
$icon-compass-only-2-x: 0px;
$icon-compass-only-2-y: 5508px;
$icon-compass-only-2-offset-x: 0px;
$icon-compass-only-2-offset-y: -5508px;
$icon-compass-only-2-width: 48px;
$icon-compass-only-2-height: 63px;
$icon-compass-only-2-total-width: 240px;
$icon-compass-only-2-total-height: 5571px;
$icon-compass-only-2-image: '../images/generated/sprites/sprite.png';
$icon-compass-only-2: (0px, 5508px, 0px, -5508px, 48px, 63px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-compass-only-2', );
$icon-compass-only-name: 'icon-compass-only';
$icon-compass-only-x: 0px;
$icon-compass-only-y: 2852px;
$icon-compass-only-offset-x: 0px;
$icon-compass-only-offset-y: -2852px;
$icon-compass-only-width: 48px;
$icon-compass-only-height: 48px;
$icon-compass-only-total-width: 240px;
$icon-compass-only-total-height: 5571px;
$icon-compass-only-image: '../images/generated/sprites/sprite.png';
$icon-compass-only: (0px, 2852px, 0px, -2852px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-compass-only', );
$icon-libsass-name: 'icon-libsass';
$icon-libsass-x: 0px;
$icon-libsass-y: 2920px;
$icon-libsass-offset-x: 0px;
$icon-libsass-offset-y: -2920px;
$icon-libsass-width: 106px;
$icon-libsass-height: 48px;
$icon-libsass-total-width: 240px;
$icon-libsass-total-height: 5571px;
$icon-libsass-image: '../images/generated/sprites/sprite.png';
$icon-libsass: (0px, 2920px, 0px, -2920px, 106px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-libsass', );
$icon-node-sass-name: 'icon-node-sass';
$icon-node-sass-x: 0px;
$icon-node-sass-y: 2988px;
$icon-node-sass-offset-x: 0px;
$icon-node-sass-offset-y: -2988px;
$icon-node-sass-width: 42px;
$icon-node-sass-height: 48px;
$icon-node-sass-total-width: 240px;
$icon-node-sass-total-height: 5571px;
$icon-node-sass-image: '../images/generated/sprites/sprite.png';
$icon-node-sass: (0px, 2988px, 0px, -2988px, 42px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-node-sass', );
$icon-sass-name: 'icon-sass';
$icon-sass-x: 0px;
$icon-sass-y: 3056px;
$icon-sass-offset-x: 0px;
$icon-sass-offset-y: -3056px;
$icon-sass-width: 48px;
$icon-sass-height: 48px;
$icon-sass-total-width: 240px;
$icon-sass-total-height: 5571px;
$icon-sass-image: '../images/generated/sprites/sprite.png';
$icon-sass: (0px, 3056px, 0px, -3056px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-sass', );
$icon-medium-name: 'icon-medium';
$icon-medium-x: 0px;
$icon-medium-y: 3124px;
$icon-medium-offset-x: 0px;
$icon-medium-offset-y: -3124px;
$icon-medium-width: 48px;
$icon-medium-height: 48px;
$icon-medium-total-width: 240px;
$icon-medium-total-height: 5571px;
$icon-medium-image: '../images/generated/sprites/sprite.png';
$icon-medium: (0px, 3124px, 0px, -3124px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-medium', );
$icon-ms-edge-name: 'icon-ms-edge';
$icon-ms-edge-x: 0px;
$icon-ms-edge-y: 3192px;
$icon-ms-edge-offset-x: 0px;
$icon-ms-edge-offset-y: -3192px;
$icon-ms-edge-width: 48px;
$icon-ms-edge-height: 48px;
$icon-ms-edge-total-width: 240px;
$icon-ms-edge-total-height: 5571px;
$icon-ms-edge-image: '../images/generated/sprites/sprite.png';
$icon-ms-edge: (0px, 3192px, 0px, -3192px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-ms-edge', );
$icon-ms-excel-name: 'icon-ms-excel';
$icon-ms-excel-x: 0px;
$icon-ms-excel-y: 3260px;
$icon-ms-excel-offset-x: 0px;
$icon-ms-excel-offset-y: -3260px;
$icon-ms-excel-width: 48px;
$icon-ms-excel-height: 48px;
$icon-ms-excel-total-width: 240px;
$icon-ms-excel-total-height: 5571px;
$icon-ms-excel-image: '../images/generated/sprites/sprite.png';
$icon-ms-excel: (0px, 3260px, 0px, -3260px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-ms-excel', );
$icon-ms-outlook-name: 'icon-ms-outlook';
$icon-ms-outlook-x: 0px;
$icon-ms-outlook-y: 3328px;
$icon-ms-outlook-offset-x: 0px;
$icon-ms-outlook-offset-y: -3328px;
$icon-ms-outlook-width: 48px;
$icon-ms-outlook-height: 48px;
$icon-ms-outlook-total-width: 240px;
$icon-ms-outlook-total-height: 5571px;
$icon-ms-outlook-image: '../images/generated/sprites/sprite.png';
$icon-ms-outlook: (0px, 3328px, 0px, -3328px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-ms-outlook', );
$icon-ms-power-point-name: 'icon-ms-power-point';
$icon-ms-power-point-x: 0px;
$icon-ms-power-point-y: 3396px;
$icon-ms-power-point-offset-x: 0px;
$icon-ms-power-point-offset-y: -3396px;
$icon-ms-power-point-width: 48px;
$icon-ms-power-point-height: 48px;
$icon-ms-power-point-total-width: 240px;
$icon-ms-power-point-total-height: 5571px;
$icon-ms-power-point-image: '../images/generated/sprites/sprite.png';
$icon-ms-power-point: (0px, 3396px, 0px, -3396px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-ms-power-point', );
$icon-ms-word-name: 'icon-ms-word';
$icon-ms-word-x: 0px;
$icon-ms-word-y: 3464px;
$icon-ms-word-offset-x: 0px;
$icon-ms-word-offset-y: -3464px;
$icon-ms-word-width: 48px;
$icon-ms-word-height: 48px;
$icon-ms-word-total-width: 240px;
$icon-ms-word-total-height: 5571px;
$icon-ms-word-image: '../images/generated/sprites/sprite.png';
$icon-ms-word: (0px, 3464px, 0px, -3464px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-ms-word', );
$icon-netflix-name: 'icon-netflix';
$icon-netflix-x: 0px;
$icon-netflix-y: 3532px;
$icon-netflix-offset-x: 0px;
$icon-netflix-offset-y: -3532px;
$icon-netflix-width: 48px;
$icon-netflix-height: 48px;
$icon-netflix-total-width: 240px;
$icon-netflix-total-height: 5571px;
$icon-netflix-image: '../images/generated/sprites/sprite.png';
$icon-netflix: (0px, 3532px, 0px, -3532px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-netflix', );
$icon-opera-name: 'icon-opera';
$icon-opera-x: 0px;
$icon-opera-y: 3600px;
$icon-opera-offset-x: 0px;
$icon-opera-offset-y: -3600px;
$icon-opera-width: 48px;
$icon-opera-height: 48px;
$icon-opera-total-width: 240px;
$icon-opera-total-height: 5571px;
$icon-opera-image: '../images/generated/sprites/sprite.png';
$icon-opera: (0px, 3600px, 0px, -3600px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-opera', );
$icon-pinterest-name: 'icon-pinterest';
$icon-pinterest-x: 0px;
$icon-pinterest-y: 5438px;
$icon-pinterest-offset-x: 0px;
$icon-pinterest-offset-y: -5438px;
$icon-pinterest-width: 50px;
$icon-pinterest-height: 50px;
$icon-pinterest-total-width: 240px;
$icon-pinterest-total-height: 5571px;
$icon-pinterest-image: '../images/generated/sprites/sprite.png';
$icon-pinterest: (0px, 5438px, 0px, -5438px, 50px, 50px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-pinterest', );
$icon-play-station-name: 'icon-play-station';
$icon-play-station-x: 0px;
$icon-play-station-y: 3736px;
$icon-play-station-offset-x: 0px;
$icon-play-station-offset-y: -3736px;
$icon-play-station-width: 48px;
$icon-play-station-height: 48px;
$icon-play-station-total-width: 240px;
$icon-play-station-total-height: 5571px;
$icon-play-station-image: '../images/generated/sprites/sprite.png';
$icon-play-station: (0px, 3736px, 0px, -3736px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-play-station', );
$icon-python-name: 'icon-python';
$icon-python-x: 0px;
$icon-python-y: 3804px;
$icon-python-offset-x: 0px;
$icon-python-offset-y: -3804px;
$icon-python-width: 48px;
$icon-python-height: 48px;
$icon-python-total-width: 240px;
$icon-python-total-height: 5571px;
$icon-python-image: '../images/generated/sprites/sprite.png';
$icon-python: (0px, 3804px, 0px, -3804px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-python', );
$icon-raspberry-pi-name: 'icon-raspberry-pi';
$icon-raspberry-pi-x: 0px;
$icon-raspberry-pi-y: 3872px;
$icon-raspberry-pi-offset-x: 0px;
$icon-raspberry-pi-offset-y: -3872px;
$icon-raspberry-pi-width: 48px;
$icon-raspberry-pi-height: 48px;
$icon-raspberry-pi-total-width: 240px;
$icon-raspberry-pi-total-height: 5571px;
$icon-raspberry-pi-image: '../images/generated/sprites/sprite.png';
$icon-raspberry-pi: (0px, 3872px, 0px, -3872px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-raspberry-pi', );
$icon-reddit-name: 'icon-reddit';
$icon-reddit-x: 0px;
$icon-reddit-y: 5368px;
$icon-reddit-offset-x: 0px;
$icon-reddit-offset-y: -5368px;
$icon-reddit-width: 50px;
$icon-reddit-height: 50px;
$icon-reddit-total-width: 240px;
$icon-reddit-total-height: 5571px;
$icon-reddit-image: '../images/generated/sprites/sprite.png';
$icon-reddit: (0px, 5368px, 0px, -5368px, 50px, 50px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-reddit', );
$icon-safari-name: 'icon-safari';
$icon-safari-x: 0px;
$icon-safari-y: 4008px;
$icon-safari-offset-x: 0px;
$icon-safari-offset-y: -4008px;
$icon-safari-width: 48px;
$icon-safari-height: 48px;
$icon-safari-total-width: 240px;
$icon-safari-total-height: 5571px;
$icon-safari-image: '../images/generated/sprites/sprite.png';
$icon-safari: (0px, 4008px, 0px, -4008px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-safari', );
$icon-skydrive-name: 'icon-skydrive';
$icon-skydrive-x: 0px;
$icon-skydrive-y: 4076px;
$icon-skydrive-offset-x: 0px;
$icon-skydrive-offset-y: -4076px;
$icon-skydrive-width: 48px;
$icon-skydrive-height: 48px;
$icon-skydrive-total-width: 240px;
$icon-skydrive-total-height: 5571px;
$icon-skydrive-image: '../images/generated/sprites/sprite.png';
$icon-skydrive: (0px, 4076px, 0px, -4076px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-skydrive', );
$icon-skype-name: 'icon-skype';
$icon-skype-x: 0px;
$icon-skype-y: 4144px;
$icon-skype-offset-x: 0px;
$icon-skype-offset-y: -4144px;
$icon-skype-width: 48px;
$icon-skype-height: 48px;
$icon-skype-total-width: 240px;
$icon-skype-total-height: 5571px;
$icon-skype-image: '../images/generated/sprites/sprite.png';
$icon-skype: (0px, 4144px, 0px, -4144px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-skype', );
$icon-slack-name: 'icon-slack';
$icon-slack-x: 0px;
$icon-slack-y: 4212px;
$icon-slack-offset-x: 0px;
$icon-slack-offset-y: -4212px;
$icon-slack-width: 48px;
$icon-slack-height: 48px;
$icon-slack-total-width: 240px;
$icon-slack-total-height: 5571px;
$icon-slack-image: '../images/generated/sprites/sprite.png';
$icon-slack: (0px, 4212px, 0px, -4212px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-slack', );
$icon-slide-share-name: 'icon-slide-share';
$icon-slide-share-x: 0px;
$icon-slide-share-y: 4280px;
$icon-slide-share-offset-x: 0px;
$icon-slide-share-offset-y: -4280px;
$icon-slide-share-width: 48px;
$icon-slide-share-height: 48px;
$icon-slide-share-total-width: 240px;
$icon-slide-share-total-height: 5571px;
$icon-slide-share-image: '../images/generated/sprites/sprite.png';
$icon-slide-share: (0px, 4280px, 0px, -4280px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-slide-share', );
$icon-snapchat-name: 'icon-snapchat';
$icon-snapchat-x: 0px;
$icon-snapchat-y: 4348px;
$icon-snapchat-offset-x: 0px;
$icon-snapchat-offset-y: -4348px;
$icon-snapchat-width: 48px;
$icon-snapchat-height: 48px;
$icon-snapchat-total-width: 240px;
$icon-snapchat-total-height: 5571px;
$icon-snapchat-image: '../images/generated/sprites/sprite.png';
$icon-snapchat: (0px, 4348px, 0px, -4348px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-snapchat', );
$icon-sound-cloud-name: 'icon-sound-cloud';
$icon-sound-cloud-x: 0px;
$icon-sound-cloud-y: 4416px;
$icon-sound-cloud-offset-x: 0px;
$icon-sound-cloud-offset-y: -4416px;
$icon-sound-cloud-width: 48px;
$icon-sound-cloud-height: 48px;
$icon-sound-cloud-total-width: 240px;
$icon-sound-cloud-total-height: 5571px;
$icon-sound-cloud-image: '../images/generated/sprites/sprite.png';
$icon-sound-cloud: (0px, 4416px, 0px, -4416px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-sound-cloud', );
$icon-spotify-name: 'icon-spotify';
$icon-spotify-x: 0px;
$icon-spotify-y: 4484px;
$icon-spotify-offset-x: 0px;
$icon-spotify-offset-y: -4484px;
$icon-spotify-width: 48px;
$icon-spotify-height: 48px;
$icon-spotify-total-width: 240px;
$icon-spotify-total-height: 5571px;
$icon-spotify-image: '../images/generated/sprites/sprite.png';
$icon-spotify: (0px, 4484px, 0px, -4484px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-spotify', );
$icon-stack-exchange-name: 'icon-stack-exchange';
$icon-stack-exchange-x: 0px;
$icon-stack-exchange-y: 4552px;
$icon-stack-exchange-offset-x: 0px;
$icon-stack-exchange-offset-y: -4552px;
$icon-stack-exchange-width: 48px;
$icon-stack-exchange-height: 48px;
$icon-stack-exchange-total-width: 240px;
$icon-stack-exchange-total-height: 5571px;
$icon-stack-exchange-image: '../images/generated/sprites/sprite.png';
$icon-stack-exchange: (0px, 4552px, 0px, -4552px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-stack-exchange', );
$icon-stack-overflow-name: 'icon-stack-overflow';
$icon-stack-overflow-x: 0px;
$icon-stack-overflow-y: 4620px;
$icon-stack-overflow-offset-x: 0px;
$icon-stack-overflow-offset-y: -4620px;
$icon-stack-overflow-width: 48px;
$icon-stack-overflow-height: 48px;
$icon-stack-overflow-total-width: 240px;
$icon-stack-overflow-total-height: 5571px;
$icon-stack-overflow-image: '../images/generated/sprites/sprite.png';
$icon-stack-overflow: (0px, 4620px, 0px, -4620px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-stack-overflow', );
$icon-steam-name: 'icon-steam';
$icon-steam-x: 0px;
$icon-steam-y: 4688px;
$icon-steam-offset-x: 0px;
$icon-steam-offset-y: -4688px;
$icon-steam-width: 48px;
$icon-steam-height: 48px;
$icon-steam-total-width: 240px;
$icon-steam-total-height: 5571px;
$icon-steam-image: '../images/generated/sprites/sprite.png';
$icon-steam: (0px, 4688px, 0px, -4688px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-steam', );
$icon-tumblr-name: 'icon-tumblr';
$icon-tumblr-x: 0px;
$icon-tumblr-y: 4756px;
$icon-tumblr-offset-x: 0px;
$icon-tumblr-offset-y: -4756px;
$icon-tumblr-width: 48px;
$icon-tumblr-height: 48px;
$icon-tumblr-total-width: 240px;
$icon-tumblr-total-height: 5571px;
$icon-tumblr-image: '../images/generated/sprites/sprite.png';
$icon-tumblr: (0px, 4756px, 0px, -4756px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-tumblr', );
$icon-twitch-name: 'icon-twitch';
$icon-twitch-x: 0px;
$icon-twitch-y: 4824px;
$icon-twitch-offset-x: 0px;
$icon-twitch-offset-y: -4824px;
$icon-twitch-width: 48px;
$icon-twitch-height: 48px;
$icon-twitch-total-width: 240px;
$icon-twitch-total-height: 5571px;
$icon-twitch-image: '../images/generated/sprites/sprite.png';
$icon-twitch: (0px, 4824px, 0px, -4824px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-twitch', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 0px;
$icon-twitter-y: 4892px;
$icon-twitter-offset-x: 0px;
$icon-twitter-offset-y: -4892px;
$icon-twitter-width: 48px;
$icon-twitter-height: 48px;
$icon-twitter-total-width: 240px;
$icon-twitter-total-height: 5571px;
$icon-twitter-image: '../images/generated/sprites/sprite.png';
$icon-twitter: (0px, 4892px, 0px, -4892px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-twitter', );
$icon-utorrent-name: 'icon-utorrent';
$icon-utorrent-x: 0px;
$icon-utorrent-y: 4960px;
$icon-utorrent-offset-x: 0px;
$icon-utorrent-offset-y: -4960px;
$icon-utorrent-width: 48px;
$icon-utorrent-height: 48px;
$icon-utorrent-total-width: 240px;
$icon-utorrent-total-height: 5571px;
$icon-utorrent-image: '../images/generated/sprites/sprite.png';
$icon-utorrent: (0px, 4960px, 0px, -4960px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-utorrent', );
$icon-vine-name: 'icon-vine';
$icon-vine-x: 0px;
$icon-vine-y: 5028px;
$icon-vine-offset-x: 0px;
$icon-vine-offset-y: -5028px;
$icon-vine-width: 48px;
$icon-vine-height: 48px;
$icon-vine-total-width: 240px;
$icon-vine-total-height: 5571px;
$icon-vine-image: '../images/generated/sprites/sprite.png';
$icon-vine: (0px, 5028px, 0px, -5028px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-vine', );
$icon-vlc-name: 'icon-vlc';
$icon-vlc-x: 0px;
$icon-vlc-y: 5096px;
$icon-vlc-offset-x: 0px;
$icon-vlc-offset-y: -5096px;
$icon-vlc-width: 48px;
$icon-vlc-height: 48px;
$icon-vlc-total-width: 240px;
$icon-vlc-total-height: 5571px;
$icon-vlc-image: '../images/generated/sprites/sprite.png';
$icon-vlc: (0px, 5096px, 0px, -5096px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-vlc', );
$icon-whats-app-name: 'icon-whats-app';
$icon-whats-app-x: 0px;
$icon-whats-app-y: 5164px;
$icon-whats-app-offset-x: 0px;
$icon-whats-app-offset-y: -5164px;
$icon-whats-app-width: 48px;
$icon-whats-app-height: 48px;
$icon-whats-app-total-width: 240px;
$icon-whats-app-total-height: 5571px;
$icon-whats-app-image: '../images/generated/sprites/sprite.png';
$icon-whats-app: (0px, 5164px, 0px, -5164px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-whats-app', );
$icon-wii-name: 'icon-wii';
$icon-wii-x: 0px;
$icon-wii-y: 5232px;
$icon-wii-offset-x: 0px;
$icon-wii-offset-y: -5232px;
$icon-wii-width: 48px;
$icon-wii-height: 48px;
$icon-wii-total-width: 240px;
$icon-wii-total-height: 5571px;
$icon-wii-image: '../images/generated/sprites/sprite.png';
$icon-wii: (0px, 5232px, 0px, -5232px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-wii', );
$icon-winrar-name: 'icon-winrar';
$icon-winrar-x: 0px;
$icon-winrar-y: 5300px;
$icon-winrar-offset-x: 0px;
$icon-winrar-offset-y: -5300px;
$icon-winrar-width: 48px;
$icon-winrar-height: 48px;
$icon-winrar-total-width: 240px;
$icon-winrar-total-height: 5571px;
$icon-winrar-image: '../images/generated/sprites/sprite.png';
$icon-winrar: (0px, 5300px, 0px, -5300px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-winrar', );
$icon-wordpress-name: 'icon-wordpress';
$icon-wordpress-x: 0px;
$icon-wordpress-y: 3940px;
$icon-wordpress-offset-x: 0px;
$icon-wordpress-offset-y: -3940px;
$icon-wordpress-width: 48px;
$icon-wordpress-height: 48px;
$icon-wordpress-total-width: 240px;
$icon-wordpress-total-height: 5571px;
$icon-wordpress-image: '../images/generated/sprites/sprite.png';
$icon-wordpress: (0px, 3940px, 0px, -3940px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-wordpress', );
$icon-xbox-name: 'icon-xbox';
$icon-xbox-x: 0px;
$icon-xbox-y: 3668px;
$icon-xbox-offset-x: 0px;
$icon-xbox-offset-y: -3668px;
$icon-xbox-width: 48px;
$icon-xbox-height: 48px;
$icon-xbox-total-width: 240px;
$icon-xbox-total-height: 5571px;
$icon-xbox-image: '../images/generated/sprites/sprite.png';
$icon-xbox: (0px, 3668px, 0px, -3668px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-xbox', );
$icon-youtube-name: 'icon-youtube';
$icon-youtube-x: 0px;
$icon-youtube-y: 2716px;
$icon-youtube-offset-x: 0px;
$icon-youtube-offset-y: -2716px;
$icon-youtube-width: 48px;
$icon-youtube-height: 48px;
$icon-youtube-total-width: 240px;
$icon-youtube-total-height: 5571px;
$icon-youtube-image: '../images/generated/sprites/sprite.png';
$icon-youtube: (0px, 2716px, 0px, -2716px, 48px, 48px, 240px, 5571px, '../images/generated/sprites/sprite.png', 'icon-youtube', );
$spritesheet-width: 240px;
$spritesheet-height: 5571px;
$spritesheet-image: '../images/generated/sprites/sprite.png';
$spritesheet-sprites: ($icon-amazon, $icon-apple-app-store, $icon-bebo, $icon-behance, $icon-bing, $icon-bitbucket, $icon-bmw, $icon-breaking-bad, $icon-chrome, $icon-cloud-flare, $icon-codepen, $icon-css3, $icon-delicious, $icon-docker, $icon-dropbox, $icon-facebook-messenger, $icon-facebook, $icon-feedly, $icon-firefox, $icon-foursquare, $icon-get-pocket, $icon-git, $icon-github, $icon-google-cloud, $icon-google-compute-engine, $icon-google-drive, $icon-google-plus, $icon-google-scholar, $icon-google-translate, $icon-google-web-search, $icon-hbo-go, $icon-html5, $icon-hulu, $icon-instagram, $icon-internet-explorer, $icon-java, $icon-jsfiddle, $icon-lastfm, $icon-linked-in, $icon-linode, $icon-compass-full, $icon-compass-only-2, $icon-compass-only, $icon-libsass, $icon-node-sass, $icon-sass, $icon-medium, $icon-ms-edge, $icon-ms-excel, $icon-ms-outlook, $icon-ms-power-point, $icon-ms-word, $icon-netflix, $icon-opera, $icon-pinterest, $icon-play-station, $icon-python, $icon-raspberry-pi, $icon-reddit, $icon-safari, $icon-skydrive, $icon-skype, $icon-slack, $icon-slide-share, $icon-snapchat, $icon-sound-cloud, $icon-spotify, $icon-stack-exchange, $icon-stack-overflow, $icon-steam, $icon-tumblr, $icon-twitch, $icon-twitter, $icon-utorrent, $icon-vine, $icon-vlc, $icon-whats-app, $icon-wii, $icon-winrar, $icon-wordpress, $icon-xbox, $icon-youtube, );
$spritesheet: (240px, 5571px, '../images/generated/sprites/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
